# Username and password can be omitted if using trusted connection
DB_USERNAME = sa
DB_PASSWORD = 12345678ABCabc$
DB_SERVER = sqlserver
DB_PORT = 1433
DB_DATABASE = master
DB_TRUST_SERVER_CERT=yes

# Looper settings
RUN_INTERVAL_SECONDS=7200

# Cert password
CERT_PASSWORD=1234